<%- include('header-client')  %>

<div class="all-client-post">
  <h2>My Posted Jobs</h2>
  <% for(let i=post.length-1; i>=0; i--){ %>

  <div class="my-post">
    <a class="post-link" href="/ownPost/<%=post[i]._id%>">

      <div class="post-name">
        <h3> <%=post[i].name %> </h3>
      </div>
      <div class="post-detail">
        <p class="category"><%= post[i].jobCategory %></p>
        <div class="div-in">
          <p class="price">Price: <%= post[i].price %> &nbsp;<i style="color:rgb(238, 107, 20);" class="fas fa-donate"></i> </p>
          <p><%= nProposal[i].length %>  &nbsp;Proposals</p>
          
        </div>
        <p class="candidate">Candidate : <%= post[i].candidates %> </p>
        <p class="requirements">Requirements: <%post[i].requirements.forEach(function(item){%>
          <label><%= item %> </label> 
          <%})%></p>

      </div>

    </a>
  </div>
  <div class="status">

  </div>
  <div>

  </div>
  <% } %>

</div>

<%- include('footer')  %>