<%- include('header-client')  %> 

<div>
  <div class="all-my-post">
    <h2>My Post</h2>
  </div>
  <% post.forEach((postT) =>{ %>
    
    <a href="/ownPost/<%=postT._id%>"> 
      <div class="my-post">
        <div class="post-name">
          <h3> <%=postT.name %> </h3>
        </div>
        <div class="post-detail">
          <p class="category"><%= postT.jobCategory %></p>
          <p class="price">Price: <%= postT.price %> </p>
          <p class="candidate">Candidate : <%= postT.candidates %> </p>
          <p class="requirements">Requirements: <%= postT.requirements%></p>
          
        </div>
      </div>
    </a><br>
    <div class="status">
      
    </div>
    <div>

    </div>
  <% }) %>  

</div>

<%- include('footer')  %> 
