<% if (user = "undefined") { %>
  <%- include ('header-index') %> 
 <% } %>
  <% if (user.Type == "client") { %>
   <%- include ('header-client') %> 
  <% } %>
  <% if (user.Type == "freelancer") { %>
    <%- include ('header-employee') %> 
   <% } %>
   
  
<div class="employee-list">
  <form method="POST" class="employee-filter" action='/filter'>
    
  <div class="filter1">
    <label>Price per hour:</label>
    <div class="form-inline">
      <div class="form-group">
        <label>From:</label>
        <input type="number" id="op1"class="form-control" name="plow" value="0">
      </div>
      <div class="form-group">
        <label>To:</label>
        <input type="number" id="op1"class="form-control" name="phigh" value="1000">
      </div>
    </div>
  </div>
  <div class="filter2">
    <label>Working experience year:</label>
    <div class="form-inline">
      <div class="form-group">
        <label>From:</label>
        <input type="number" id="op2"class="form-control" name="ylow" value="0">
      </div>
      <div class="form-group">
        <label>To:</label>
        <input type="number" id="op2"class="form-control" name="yhigh" value="30">
      </div>
    </div>
  </div>
  <div class="filter3">
    <label>Field:</label>
    <div class="btn">
    <select id="op3" name = "skill" require = "true">
    <option value="all">All</option>
    <option value="C++">C++</option>
    <option value="Java">Java</option>
    <option value="Javascript">Javascript</option>
    <option value="Python">Python</option>
    <option value="Assembly">Assembly</option>
    <option value="HTML">HTML</option>
    <option value="MongoDB">MongoDB</option>
    </select>
  </div>
  </div>
  <div>
    <input type="submit" class="btn-success" value="Search">
  </div>
    
</form>
</div>
<div class="main-label">Infomation of all employees: </div><br>



<% if (listuser.length !== 0) { %>
  <% let i= 0 %> 
 <% listuser.forEach(item => { %>
  <% 
    let sum =0; 
  %>
  
  <div class="employee-info">
    <div>
      <img src="/images/faceui<%=i++%10%>.jpg" alt="User_avt" class="user-avt">
    </div>
    <div class="info">
<<<<<<< HEAD
      <p style="color:dodgerblue; font-size:20px"> <%= item.name%> </p>
      <p style=" font-size:14px">Price  : <%= item.other.price%> $</p>
      <% item.other.rating.forEach(e => { %>
      <% sum+=e %> 
      <% }) %>
      <p style=" font-size:14px">Rating : <%= sum/item.other.rating.length%></p>
      <p style=" font-size:14px">Skills : <%= item.other.skill%></p>
      </div>
      <div>
        <a href="/detail-profile/<%=item._id%>" class="btn-success" style="background-color: dodgerblue;">Profile</a>
=======
      <p>Name   : <%= item.name%> </p>
      <p>Price  : <%= item.other.price%></p>
      <% item.rating.forEach(e => { %>
      <% sum+=e %> 
      <% }) %>
      <p>rating : <%= sum/item.rating.length%></p>
      <p>skills : <%= item.other.skill%></p>
>>>>>>> bf314429b3db611a88c9553eab4729377a37a005
      </div>
  </div>
    <br>
    
  
 <% }) %>

<% } else { %>
    <p class="not-found"> Không tìm thấy nhân viên thỏa mãn</p> 
  <% }%>

</div>

<%- include ('footer') %>