<%- include('header-employee')  %>
    
        <h2 class="head-chat">Chat with whom you send proposal</h2>
        <div class="container-chat">
            <div class="chat-tab-left">
                <% clientList.forEach(function(client, index){%> 
                    <div class="item-client">
                        <div id="client-name-<%=index %>" class="client-name">
                            <%=client.name  %> 
                        </div>
                        <div class="btn-chat">
                            
                            <button  class="<%=index%>" value="<%=client.id %>">Chat</button>
                        </div>
                    </div>
                    <%}) %> 
            </div>
            <div class="chat-tab-right">
                <div class="client-name-right"></div>
                <div class="message"></div>
                <div class="form">
                    <form action="">
                        <input type="text" class="msg" id="msg">
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
    
<%- include('footer') %> 