 <%- include ('header') %>

  <form method="POST" action='/filter'><p>Enter:</p>
  <div>Price per hour:</div>
  <div>From</div>
  <input type="number" id="op1" name="plow" value="0">
  <div>To</div>
  <input type="number" id="op1" name="phigh" value="999">
  <div>Working experience year:</div>
  <div>From</div>
  <input type="number" id="op2" name="ylow" value="0">
  <div>to</div>
  <input type="number" id="op2" name="yhigh" value="99">
  <div>Field:</div>
  <!--<input type="text" id="op3" name="skill" value="Coding"> -->
  <select id="op3" name = "skill" require = "true">
  <option value="Coding">Coding</option>
  <option value="Sleep">Sleep</option>
  <option value="Not doing but eating">Not doing but eating</option>
</select>
  <input type="submit" value="Search">
  </form>
<div>Infomation of all employees: </div><br>
<% if(listemployee){%>

<% for (let i = 0; i < listemployee.length; i++ ){ %>
// <% let id = listemployee[i]._id %>
    <form method="GET" action="detail-profile/<%= listemployee[i]._id%>">
    <input type = "submit" value ="View profile"></input>
    </form>
    
    <p>Name   : <%= listemployee[i].name%> </p>
    <p>price  : <%= listemployee[i].other.price%></p>
    <p>rating : <%= listemployee[i].other.rating%></p>
    <p>skills : <%= listemployee[i].other.skill%></p>
    <br>
<%}}else{%> 
<p> Không tìm thấy nhân viên thỏa mãn</p> 
<% }%>
<%- include ('footer') %>