<%- include('header-client')  %> 

<div class="send-offer" >
  <div class="offer-job-name">
    <%= project.name %> 
  </div>
<div class="offer-proposal">
    <label for="">Price  <%=dev.name  %>  Deal:</label>
    <label for=""><%=proposal.priceDeal  %> &nbsp;<i style="color: rgb(255, 72, 0);" class="fas fa-donate"></i> </label>
</div>

  <form method="POST" action="/hire_deal/<%=dev.id %>/<%=project.id %>">
    <p>Enter Your Final price:</p>
    <input class="deal-money" type="number" name="price_final" value=<%=proposal.priceDeal  %>  max="10000" min="10"><br>
    <label>Reason deal:</label><br>
    <textarea class="reason-deal" name="reason_change"></textarea><br>
    <input class="btn-send-offer" type="submit" value='Send Offer'>
  </form>
  <div class="client-deposit">

    <label>Divuvila Deposit: </label>
    <label class="deposit"><%=proposal.priceDeal/5  %></label>  &nbsp;<i style="color: rgb(255, 94, 0);" class="fas fa-donate"></i>
    <p>Divuvila will hold this money when this freelancer accept your offer</p>
    <p>And also! We will return you when this work is completed and you had paid for freelancer</p>
  </div>

  <script>
    $(".deal-money").change(function(e){
      $(".deposit").html(Math.ceil($(this).val()*0.2))
    })
    
  </script>
</div>

<%- include('footer')  %> 
